__pycache__/
*.pyc
*.egg-info/
natural-earth-vector/
data/*.geojson
data/*.topojson
data/*.pmtiles
data/*.pkl
!data/sample_*.geojson
.venv/
poetry.lock
.DS_Store
docs/data/
.wrangler/
osm-vector/osm_simplified_land_polygons.geojson.zip
